<div class="fondo  col-md-9 col-lg-6 col-xl-9">
<section >
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img class="imagen" src="./../../../assets/imgenes/estandar.jpg">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1" >
  
          <form>
    <div class="margen">    
  <div class="contenedor">
            <div class="email form-outline mb-2">
  
              <input type="email" id="form2" class="cuadro form-control form-control-lg"/>
  
            </div>
            <div class=" form-outline mb-2">
  
              <input type="password" id="form3" class="cuadro form-control form-control-lg"/>
  
            </div>
        
       
       
    
  <div class="parte2">
              <a href="#!" class="letras text-body">Forgot password?</a>
            </div>
  
            <div class=" text-center text-lg-start mt-4 pt-2">
              <button type="button" class="botton btn btn-primary btn-lg"
              >Ingresar</button>
  
            
            </div>
  
  
          </div>
      </div>  
  
          </form>
        </div>
      </div>
    </div>
    
  

   
    
  
  </section>
</div>